<template>
  <div class="container">
    <div class="row" v-for="(message , index) in messages" :key=index>
      <div class="col">{{ message.author }} : {{ message.content }}</div>
    </div>
    <div class="row">
      <form @submit.prevent="createMessage">
        <div class="form-group">
          <input type="text" class="form-control" v-model="newMessage" />
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      messages: [],
      newMessage : ''
    };
  },
  mounted() {
    axios.get("/api/get-messages").then((response) => (this.messages = response.data));
    Echo.channel("chat").listen("NewChat", (e) => {
       this.messages.push(e.message)
    });
  },
  methods: {
    createMessage() {
      axios.post("/api/create-messages",{
        content : this.newMessage
      })
      .then((response) => (this.messages.push(response.data) ));
    }
  }
};
</script>

<style>
</style>